@use '@/styles/partials' as *;

.innerContentBox {
	display: flex;
	gap: 36%;
	margin-top: 65px;
}

.imageSide {
	margin-top: 28px;
	margin-left: 70px;
	animation: slideFade ease-in-out 0.7s;
}

.nav {
	@include menuAnimation;
	display: flex;
	height: 34px;
	gap: 36px;
	color: $half-light;
	font-family: $barlowC;
	letter-spacing: 2.7px;
	font-size: 1.6rem;
	text-transform: uppercase;

	.activeNav::before {
		transform: scaleX(1);
	}

	@if #{&} == attr(data-slide) {
		transform: scaleX(1);
	}
}

.infoSide {
	.destinationTitle {
		@include headings;
		font-size: 10rem;
		margin-top: 37px;
	}

	span {
		display: block;
		height: 1px;
		background-color: $span;
		margin-top: 55px;
	}

	.travelInfo {
		display: flex;
		gap: 80px;
		margin-top: 30px;

		h3 {
			@include pagesTitle;
			font-size: 1.4rem;
			letter-spacing: 2.362px;
			color: $half-light;
		}

		h4 {
			@include headings;
			font-size: 2.8rem;
			margin-top: 12px;
		}
	}

	animation: slideFade ease-in-out 0.7s;
}

@include desk {
	.innerContentBox {
		gap: 20%;
		transform: scale(0.8);
		margin-left: -80px;
		margin-top: 35px;
	}
}

@include tablet {
	.innerContentBox {
		flex-direction: column;
		transform: initial;
		margin-left: 0;
		margin-top: 60px;
		align-items: center;

		p {
			padding: 0 30px;
		}
	}

	.imageSide {
		margin-left: 0;
		margin-top: 0;
		img {
			width: 300px;
			height: 300px;
		}
	}

	.nav {
		justify-content: center;
		margin-top: 55px;

		li:hover::before {
			transform: scaleX(0);
		}
	}

	.infoSide {
		display: flex;
		flex-direction: column;
		align-items: center;

		.destinationTitle {
			font-size: 8rem;
		}

		p {
			width: 573px;
		}

		span {
			width: 90%;
		}

		.travelInfo {
			h3 {
				font-size: 1.4rem;
				letter-spacing: 2.362px;
				color: $half-light;
				text-align: center;
			}

			h4 {
				text-align: center;
			}
		}
	}
}

@include mobile {
	.innerContentBox {
		margin-top: 30px;

		p {
			padding: 0;
		}
	}

	.infoSide {
		.destinationTitle {
			font-size: 5.6rem;
			margin-top: 20px;
		}

		span {
			margin-top: 32px;
		}

		.travelInfo {
			flex-direction: column;
			gap: 32px;
			h3 {
				font-size: 1.4rem;
				letter-spacing: 2.362px;
				color: $half-light;
				text-align: center;
			}

			h4 {
				text-align: center;
			}
		}
	}

	.nav {
		margin-top: 25px;
	}

	.imageSide {
		margin-left: 0;
		margin-top: 0;

		img {
			width: 170px;
			height: 170px;
		}
	}
}
