@use '@/styles/partials' as *;

.contentBox {
	display: flex;
	gap: 36%;
	margin-top: 65px;

	@include desk {
		gap: 20%;
		transform: scale(0.8);
		margin-left: -80px;
		margin-top: 35px;
	}

	@include tablet {
		display: none;
	}

	@include mobile {
		display: none;
	}
}

.imageSide {
	margin-top: 28px;
	margin-left: 70px;
	animation: slideFade ease-in-out 0.7s;
}

.nav {
	@include menuAnimation;

	display: flex;
	height: 34px;
	gap: 36px;
	color: $half-light;
	font-family: $barlowC;
	letter-spacing: 2.7px;
	font-size: 1.6rem;
	text-transform: uppercase;

	.activeNav::before {
		transform: scaleX(1);
	}

	@if #{&} == attr(data-slide) {
		transform: scaleX(1);
	}

	@include desk {
	}

	@include tablet {
		display: none;
	}

	@include mobile {
		display: none;
	}
}

.infoSide {
	.destinationTitle {
		@include headings;
		font-size: 10rem;
		margin-top: 37px;
	}

	span {
		display: block;
		height: 1px;
		background-color: #383b4b;
		margin-top: 55px;
	}

	.travelInfo {
		display: flex;
		gap: 80px;
		margin-top: 30px;

		h3 {
			@include pagesTitle;
			font-size: 1.4rem;
			letter-spacing: 2.362px;
			color: $half-light;
		}

		h4 {
			@include headings;
			font-size: 2.8rem;
			margin-top: 12px;
		}
	}
	animation: slideFade ease-in-out 0.7s;
}
