@use './variables' as v;
@use './breakpoints' as bp;

//HOME PULSE

@keyframes pulse-desktop {
	0% {
		box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.7);
	}

	70% {
		box-shadow: 0 0 0 100px rgba(255, 255, 255, 0);
	}

	100% {
		box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
	}
}

@keyframes pulse-mobile {
	0% {
		box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.7);
	}

	70% {
		box-shadow: 0 0 0 50px rgba(255, 255, 255, 0);
	}

	100% {
		box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
	}
}

//MENU UNDERLINE

@mixin menuAnimation {
	li {
		cursor: pointer;
		position: relative;
		&:hover {
			color: v.$light;
		}
	}

	li::before {
		content: '';
		position: absolute;
		width: 100%;
		height: 3px;
		bottom: 0;
		left: 0;
		transform: scaleX(0);
		background-color: v.$light;
		transform-origin: bottom left;
		transition: 0.28s ease-in-out;
	}

	li:hover::before {
		transform: scaleX(1);
	}

	@include bp.mobile {
		li:hover::before {
			transform: initial;
		}
	}
}

//SLIDE FADE ANIMATION

@keyframes slideFade {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
