//SCREEN SIZES
$desk-sm: 1600px;
$tablet: 900px;
$mobile: 550px; 

@mixin desk {
	@media (max-width: $desk-sm) {
		@content;
	}
}

@mixin tablet {
	@media (max-width: $tablet){
		@content;
	}
}

@mixin mobile {
	@media (max-width: $mobile) {
		@content;
	}
}
