//SCREEN SIZES
$desk-fullhd: 1920px; //1920x919
$desk-default: 1440px; //1440x768
$tablet: 768px; //768x1024
$mobile: 375px; //375x812

@mixin desk {
	@media (max-width: $desk-default) {
		@content;
	}
}

@mixin tablet {
	@media (max-width: $tablet) {
		@content;
	}
}

@mixin mobile {
	@media (max-width: $mobile) {
		@content;
	}
}
