@use './breakpoints' as bp;

@mixin flex-items-center {
	display: flex;
	align-items: center;
}

@mixin flex-justify-center {
	display: flex;
	justify-content: center;
}

@mixin flex-all-center {
	display: flex;
	align-items: center;
	justify-content: center;
}

@mixin page-container {
	min-width: 100vw;
	min-height: 100vh;
	@include flex-justify-center;
	overflow-x: hidden;

	@include bp.tablet{
		height: fit-content;
		min-height: 100vh;
	}
	
}

@mixin content-box {
	height: 78vh;
	margin-top: 200px;

	@include bp.tablet{
		margin-top: 150px;
		height: auto;
		min-height: 100vh;
	}

	@include bp.mobile{
		margin-top: 90px;
	}
}