@use "./variables" as v;

@mixin headings {
	color: v.$light;
	font-family: v.$bellefair;
	text-transform: uppercase;
}

@mixin pagesTitle {
	color: v.$light;
	font-family: v.$barlowC;
	text-transform: uppercase;
	font-size: 2.8rem;
	letter-spacing: 4.725px;
	

	span {
		margin-right: 28px;
		font-weight: 700;
		opacity: 0.25;
	}
}

//HOME

// PAGES