//FONTS

$bellefair: var(--font-bellefair), serif;
$barlowC: var(--font-barlow-condensed), sans-serif;
$barlowReg: var(--font-barlow-regular), sans-serif;

//COLORS 

$dark: #0B0D17;
$half-light: #D0D6F9;
$light: #FFFFFF;

//HOME BACKGROUNDS
$bg-home-desktop: url('/assets/home/background-home-desktop.jpg');
$bg-home-tablet: url('/assets/home/background-home-tablet.jpg');
$bg-home-mobile: url('/assets/home/background-home-mobile.jpg');

//DESTINATION BACKGROUND
$bg-destination-desktop: url('/assets/destination/background-destination-desktop.jpg');
$bg-destination-tablet: url('/assets/destination/background-destination-tablet.jpg');
$bg-destination-mobile: url('/assets/destination/background-destination-mobile.jpg');

//CREW BACKGROUND
$bg-crew-desktop: url('/assets/crew/background-crew-desktop.jpg');
$bg-crew-tablet: url('/assets/crew/background-crew-tablet.jpg');
$bg-crew-mobile: url('/assets/crew/background-crew-mobile.jpg');

//TECHNOLOGY BACKGROUND
$bg-technology-desktop: url('/assets/technology/background-technology-desktop.jpg');
$bg-technology-tablet: url('/assets/technology/background-technology-tablet.jpg');
$bg-technology-mobile: url('/assets/technology/background-technology-mobile.jpg');

