//FONTS

$bellefair: var(--font-bellefair), serif;
$barlow: var(--font-barlow-condensed), sans-serif;

//COLORS 

$dark-active-text: #0B0D17;
$light-blue: #D0D6F9;
$white: #FFFFFF;

//SCREEN SIZES
$tablet-breakpoint: 768px;
$mobile-breakpoin: 375px;