.background {
    background-image: url('../../public/assets/home/background-home-desktop.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    // mix-blend-mode: screen;


    @media (max-width: 768px) {
        background-image: url('../../public/assets/home/background-home-tablet.jpg');
    }

    @media (max-width: 375px) {
        background-image: url('../../public/assets/home/background-home-mobile.jpg');
    }
}

.home {
    width: 100vw;
    height: 100vh;
}