@use '@/styles/partials' as *;

.navMenu {
	@include menuAnimation;
	display: flex;
	color: $light;
	font-family: $barlowC;
	letter-spacing: 2.7px;
	height: 100%;
	align-items: center;
	padding: 0 9% 0 6%;
	background-color: rgba(255, 255, 255, 0.04);
	backdrop-filter: blur(40.774227142333984px);
	position: relative;

	> span {
		width: 100%;
		left: -98%;
		height: 1px;
		opacity: 0.2515;
		background: $light;
		position: absolute;
		z-index: 10;
		transition: 0.2s ease-in-out;
	}

	ul {
		display: flex;

		li {
			height: 95px;
			margin-right: 50px;
			display: flex;
			align-items: center;

			.navLink{
				display: flex;
				height: 100%;
				width: 100%;
				align-items: center;
			}

			span {
				font-weight: 700;
				margin-right: 10px;
			}
		}
	}

	.activeNav {
		&::before {
			transform: scaleX(1);
		}
	}
}

@include tablet {
	.navMenu {
		font-size: 1.4rem;
		letter-spacing: 2.362px;
		padding: 0 13px 0 50px;

		> span {
			display: none;
		}

		ul {
			margin-right: 0;

			li {
				margin-right: 37px;

				span {
					display: none;
				}
			}
		}
	}
}

@include mobile {
	.navMenu {
		position: absolute;
		top: 0;
		right: 0;
		height: 100vh;
		width: 66.8dvw;
		padding: 0 0 0 32px;
		z-index: 15;
		transform: translateX(0%);
		transition: transform 0.3s ease-in-out;

		ul {
			flex-direction: column;
			position: fixed;
			width: 100%;
			height: 100%;
			letter-spacing: 2.7px;
			gap: 32px;
			padding-top: 110px;

			li {
				height: auto;
				animation-play-state: paused;

				span {
					display: block;
				}
				&::before {
					display: none;
				}
			}
		}

		.activeNav {
			&::after {
				content: '';
				position: absolute;
				background-color: $light;
				width: 3px;
				height: 100%;
				right: 0;
			}
		}
	}

	.navMenu[data-visible='false'] {
		transform: translateX(100%);
		transition: transform 0.3s ease-in-out;
	}
}
