@use '@/styles/partials' as *;

@mixin crewBg {
	background-image: $bg-crew-desktop;
	background-repeat: no-repeat;
	background-size: cover;

	@media (max-width: 768px) {
		background-image: $bg-crew-tablet;
	}

	@media (max-width: 375px) {
		background-image: $bg-crew-mobile;
	}
}

.crewPageContainer {
	width: 100vw;
	height: 100vh;
	overflow: hidden;
	@include crewBg;
	@include flex-all-center;
}

.content {
	width: 80vw;
	height: 78vh;
	margin-top: 200px;

	@include desk-def {
		padding-left: 36px;
	}

	@include laptop {
		padding-left: 55px;
	}

	@include tablet {
		display: none;
	}

	@include mobile {
		display: none;
	}
}
