@use '@/styles/partials' as *;

@mixin crewBg {
	background-image: $bg-crew-desktop;
	background-repeat: no-repeat;
	background-size: cover;

	@media (max-width: 768px) {
		background-image: $bg-crew-tablet;
	}

	@media (max-width: 375px) {
		background-image: $bg-crew-mobile;
	}
}

.crewPageContainer {
	@include page-container;
	@include crewBg;
	justify-content: center;
	overflow: hidden;
}

.contentBox {
	@include content-box;
	width: 80vw;

	@include desk {
		padding-left: 36px;
	}

	@include tablet {
		display: none;
	}

	@include mobile {
		display: none;
	}
}
