@use '@/styles/partials' as *;

@mixin destinationBg {
	background-image: $bg-destination-desktop;
	background-repeat: no-repeat;
	background-size: cover;

	@media (max-width: $tablet) {
		background-image: $bg-destination-tablet;
	}

	@media (max-width: $mobile) {
		background-image: $bg-destination-mobile;
	}
}

.destinationPageContainer {
	@include page-container;
	@include destinationBg;

	@include mobile {
		height: fit-content;
		min-height: 100vh;
	}
}

.outerContentBox {
	@include content-box;
	width: 80vw;

	// @include desk {
	// 	width: 80vw;
	// 	height: 74vh;
	// 	margin-left: 80px;
	// }

	@include tablet {
		width: 100vw;
		margin-top: 150px;
	}

	@include mobile {
		margin-top: 100px;
		text-align: center;
		height: fit-content;
		min-height: 100vh;
	}
}
