@use '@/styles/partials' as *;

@mixin destinationBg {
	background-image: $bg-destination-desktop;
	background-repeat: no-repeat;
	background-size: cover;

	@media (max-width: 768px) {
		background-image: $bg-destination-tablet;
	}

	@media (max-width: 375px) {
		background-image: $bg-destination-mobile;
	}
}

.destinationPageContainer {
	@include page-container;
	@include destinationBg;
	justify-content: center;
}

.outerContentBox {
	@include content-box;
	width: 80vw;

	@include desk {
		width: 80vw;
		height: 74vh;
		margin-left: 80px;
	}

	@include tablet {
		width: 100vw;
		margin: 150px 40px 0;
	}

	@include mobile {
		display: none;
	}
}
