@use '@/styles/partials' as *;

@mixin destinationBg {
	background-image: $bg-destination-desktop;
	background-repeat: no-repeat;
	background-size: cover;

	@media (max-width: 768px) {
		background-image: $bg-destination-tablet;
	}

	@media (max-width: 375px) {
		background-image: $bg-destination-mobile;
	}
}

.destinationPageContainer {
	width: 100vw;
	height: 100vh;
	@include destinationBg;
	@include flex-all-center;
}

.destinationContentBox{
	width: 80vw;
	height: 78vh;
	margin-top: 200px;

	@include desk-def {
		width: 80vw;
		margin-left: 50px ;
	}

	@include laptop {
		width: 80vw;
		align-content: flex-start;
	}

	@include tablet {
		display: none;
	}

	@include mobile {
		display: none;
	}
}

