@use '@/styles/partials' as *;

@mixin homeBg {
	background-image: $bg-home-desktop;
	background-repeat: no-repeat;
	background-size: cover;

	@include tablet {
		background-image: $bg-home-tablet;
	}

	@include mobile {
		background-image: $bg-home-mobile;
	}
}

.homePageContainer {
	@include page-container;
	@include homeBg;
	justify-content: unset;
}

.homeContentBox {
	@include flex-items-center;
	gap: 90%;
	margin: 400px 0 130px;
	padding-left: 188px;
}

.rightContainer {
	margin-top: 100px;

	.link {
		@include flex-all-center;
		width: 274px;
		height: 274px;
		border-radius: 50%;
		background-color: $light;
		color: $dark;
		font-family: $bellefair;
		font-size: 32px;
		letter-spacing: 2px;
		text-align: center;
		text-transform: uppercase;
		outline: solid 5px transparent;

		&:hover {
			outline: solid 75px (rgba(255, 255, 255, 0.1036));
			transition: 0.3s ease-in-out;
			animation: pulse 1.7s infinite;
		}
	}
}

.homeHeadingBigWord {
	@include headings;
	font-size: 15rem;
	padding: 24px 0;
	display: flex;
	flex-direction: column;
}

.homeHeadingSmallWord {
	@include pagesTitle;
	color: $half-light;
}

@include tablet {
	.homePageContainer {
		justify-content: center;
		align-items: center;
	}

	.homeContentBox {
		margin: 105px 130px 0;
		padding-left: 0;
		flex-direction: column;

		.homeHeadingSmallWord {
			text-align: center;
		}
	
		.rightContainer {
			margin-top: 100px;
	
			.link {
				width: 242px;
				height: 242px;
			}
		}
	}


}

// @include mobile {
// 	display: none;
// }
