@use '@/styles/partials' as *;

@mixin technologyBg {
	background-image: $bg-technology-desktop;
	background-repeat: no-repeat;
	background-size: cover;

	@media (max-width: 768px) {
		background-image: $bg-technology-tablet;
	}

	@media (max-width: 375px) {
		background-image: $bg-technology-mobile;
	}
}

.technologyPageContainer {
	@include page-container;
	@include technologyBg;

	@include mobile {
		height: fit-content;
		min-height: 100vh;
	}
}

.outerContentBox {
	@include content-box;
	width: 100vw;
	padding-left: 188px;

	// @include desk {
	// 	height: 74vh;
	// 	padding-left: 180px;
	// }

	@include tablet {
		margin-top: 150px;
		padding-left: 0;
	}

	@include mobile {
		text-align: center;
		height: fit-content;
		min-height: 100vh;
		margin: 100px 0 0 0;
	}
}
