@use '@/styles/partials' as *;

@mixin technologyBg {
	background-image: $bg-technology-desktop;
	background-repeat: no-repeat;
	background-size: cover;

	@media (max-width: 768px) {
		background-image: $bg-technology-tablet;
	}

	@media (max-width: 375px) {
		background-image: $bg-technology-mobile;
	}
}

.technologyPageContainer {
	@include page-container;
	@include technologyBg;
}

.outerContentBox {
	@include content-box;
	width: 100vw;
	padding-left: 188px;

	@include desk {
		height: 74vh;
		padding-left: 180px;
	}

	@include tablet {
		margin: 150px 40px 0;
		padding-left: 0;
	}

	// @include mobile {
	// 	display: none;
	// }
}
