@use '@/styles/partials' as *;

@mixin technologyBg {
	background-image: $bg-technology-desktop;
	background-repeat: no-repeat;
	background-size: cover;

	@media (max-width: 768px) {
		background-image: $bg-technology-tablet;
	}

	@media (max-width: 375px) {
		background-image: $bg-technology-mobile;
	}
}

.technologyPageContainer {
	width: 100vw;
	height: 100vh;
	@include technologyBg;
	@include flex-all-center;
}

.contentBox {
	@include content-box;
	width: 100vw;
	padding-left: 188px;

	@include desk {
		height: 74vh;
		padding-left: 180px;
	}

	@include tablet {
		display: none;
	}

	@include mobile {
		display: none;
	}
}
