@use '@/styles/partials' as *;

.innerContentBox {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 25%;
}

.crewInfo {
	margin-top: 155px;
	height: 305px;

	.crewTextContainer {
		height: 305px;
		animation: slideFade ease-in-out 0.7s;
	}

	.crewTitles {
		@include headings;

		h2 {
			font-size: 3.2rem;
			opacity: 0.5042;
			width: 620px;
		}

		h3 {
			margin-top: 15px;
			margin-bottom: 30px;
			font-size: 5.6rem;
		}
	}

	.crewNav {
		display: flex;
		gap: 33px;
		z-index: 5;
		margin-top: 120px;

		li {
			width: 15px;
			height: 15px;
			border-radius: 50%;
			background-color: $light;
			cursor: pointer;
			opacity: 0.2;
		}

		.activeNav {
			opacity: 1;
			transition: 0.3s ease-in-out;
		}
	}
}

.imageContainer {
	height: 100vh;
	overflow: visible;
	position: relative;
	animation: slideFade ease-in-out 0.7s;

	img {
		position: absolute;
		bottom: 150px;
		height: 90%;
		width: auto;
		object-fit: cover;
	}
}

@include desk {
	.innerContentBox {
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: 0;
	}

	.crewInfo {
		transform: scale(0.9);
		margin-top: 120px;
		margin-left: -34px;

		p {
			width: 445px;
		}
	}

	.crewNav {
		margin-top: 40px;
	}

	.imageContainer {
		transform: scale(0.9);
	}
}

@include desk {
	.imageContainer {
		transform: 0.9;
	}
}

@include tablet {
	.innerContentBox {
		grid-template-columns: 1fr;
		align-items: center;
		padding: 10px;
	}

	.crewInfo {
		transform: scale(1);
		margin: 60px 40px;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;

		.crewTitles {
			text-align: center;

			h2 {
				width: 100%;
				font-size: 2.4rem;
			}

			h3 {
				font-size: 4rem;
			}
		}

		p {
			width: auto;
		}
	}

	.crewNav {
		margin-top: -50px;
		gap: 25px;

		li {
			width: 10px;
			height: 10px;
		}
	}

	.imageContainer {
		height: 42vh;
		transform: scale(1);
		justify-self: center;
		margin: 0;
		width: 100%;

		img {
			height: 106%;
			position: absolute;
			bottom: 0;
			width: auto;
			left: 50%;
			transform: translateX(-50%);
		}
	}
}

// @include mobile {
// 	display: none;
// }
