@use '@/styles/partials' as *;

.contentBox {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 25%;
	animation: slideFade ease-in-out 0.7s;

	@include desk-def {
		gap: 2%;
	}

	@include laptop {
		gap: 1%;
	}

	@include tablet {
		display: none;
	}

	@include mobile {
		display: none;
	}
}

.crewInfo {
	margin-top: 155px;

	.crewTitles {
		@include headings;

		h2 {
			font-size: 3.2rem;
			opacity: 0.5042;
			width: 620px;
		}

		h3 {
			margin-top: 15px;
			margin-bottom: 30px;
			font-size: 5.6rem;
		}
	}

	@include desk-def {
		margin-top: 180px;
	}

	@include laptop {
		margin-top: 100px;
	}
}

.imageContainer {
	height: 800px;
	overflow: visible;

	img {
		width: auto;
		margin-top: -14px;
	}

	@include laptop {
		height: 700px;
		margin-left: -30px;
	}
}

.creNav {
	display: flex;
	gap: 33px;
	z-index: 5;
	margin-top: -220px;

	li {
		width: 15px;
		height: 15px;
		border-radius: 50%;
		background-color: $light;
		cursor: pointer;
		opacity: 0.2;
	}

	.activeNav {
		opacity: 1;
		transition: 0.3s ease-in-out;
	}

	@include desk-def {
		margin-top: -240px;
	}
}
