@use '@/styles/partials' as *;

.innerContentBox {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 18%;
}

.crewInfo {
	margin-top: 155px;
	height: 305px;

	.crewTextContainer {
		height: 305px;
		animation: slideFade ease-in-out 0.7s;
	}

	.crewTitles {
		@include headings;

		h2 {
			font-size: 3.2rem;
			opacity: 0.5042;
			width: 620px;
		}

		h3 {
			margin-top: 15px;
			margin-bottom: 30px;
			font-size: 5.6rem;
		}
	}
}

.imageContainer {
	height: 100vh;
	position: relative;
	animation: slideFade ease-in-out 0.7s;

	img {
		position: absolute;
		bottom: 150px;
		height: 90%;
		width: auto;
		object-fit: cover;
	}
}

.crewNav {
	display: flex;
	gap: 33px;
	z-index: 5;
	margin-top: 120px;

	li {
		width: 15px;
		height: 15px;
		border-radius: 50%;
		background-color: $light;
		cursor: pointer;
		opacity: 0.2;
	}

	.activeNav {
		opacity: 1;
		transition: 0.3s ease-in-out;
	}
}

@include desk {
	.innerContentBox {
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: 0;
	}

	.crewInfo {
		transform: scale(0.9);
		margin-top: 120px;
		margin-left: -34px;

		p {
			width: 445px;
		}
	}

	.crewNav {
		margin-top: 40px;
	}

	.imageContainer {
		margin-left: -100px;
		transform: scale(0.8);
	}
}

@include tablet {
	.innerContentBox {
		grid-template-columns: 1fr;
		align-items: center;
		height: 100%;
	}

	.crewInfo {
		transform: scale(1);
		margin: 60px 40px 0;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;

		.crewTitles {
			text-align: center;

			h2 {
				width: 100%;
				font-size: 2.4rem;
			}

			h3 {
				font-size: 4rem;
			}
		}

		p {
			width: auto;
			min-height: 112px;
		}
	}

	.crewNav {
		margin: -50px 0 40px;
		gap: 25px;

		li {
			width: 10px;
			height: 10px;
		}
	}

	.imageContainer {
		display: flex;
		height: 100%;
		min-height: 512px;
		transform: scale(1);
		align-self: flex-end;
		justify-self: center;
		margin: 0;
		width: 100%;
		justify-content: center;
		align-items: flex-end;

		img {
			height: 100%;
			position: initial;
			width: auto;
		}
	}
}

@include mobile {
	.innerContentBox {
		padding: 0;
		margin-top: 32px;
	}

	.imageContainer {
		order: 1;
		border-bottom: 1px solid $span;
		min-height: 350px;
		height: initial;
		width: 85%;
		

		img {
			height: initial;
			transform: none;
			max-width: 230px;
		}
	}

	.crewInfo {
		order: 2;
		margin: 0;
		justify-content: unset;
		height: fit-content;

		.crewTextContainer {
			order: 3;
			height: fit-content;
		}

		.crewTitles {
			@include headings;

			h2 {
				font-size: 1.6rem;
				margin-top: 32px;
			}

			h3 {
				margin-top: 8px;
				margin-bottom: 15px;
				font-size: 2.4rem;
			}
		}

		.crewNav {
			display: flex;
			gap: 33px;
			z-index: 5;
			margin-top: 32px;
			order: 2;

			li {
				width: 10px;
				height: 10px;
			}
		}
	}
}
